.tela {
    width: 715px;
    min-height: 354px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: visible;
    padding: 3px;
}

.esquerda {
    justify-self: left;
    width: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.direita {
    justify-self: right;
    width: 30%;
    display: block;
    box-sizing: border-box;
}

.empresa {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.entrar {
    background-color: #4CAF50;
    color: black;
    height: 32px;
    width: 84px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}

.empresa img {
    height: 70px;
    margin-right: 5px;
}

header {
    height: 30px;
    width: 100%;
    margin-bottom: 3px;
    padding: auto;
    background-color: #65698E;
    box-sizing: border-box;
    max-width: 100%;
}

header h1 {
    margin: 0%;
    text-align: center;
    font-size: 26px;
}

section {
    height: 324px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #D9D9D9;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 200px;
}

input {
    height: 44px;
    width: 80%;
    margin: 5px;
    text-align: center;
    border: 1px solid black;
}

body {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}