.tela {
    width: 715px;
    min-height: 354px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: visible;
    padding: 3px;
}

.esquerda {
    justify-self: left;
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.direita {
    justify-self: right;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.botoes {
    width: 40%;
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.confirmar {
    height: 33px;
    width: 111px;
    background-color: #60D781;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.cancelar {
    height: 33px;
    width: 111px;
    background-color: #E84141;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.direita h2 {
    margin-top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

input {
    height: 36px;
    width: 436px;
    margin-top: 13px;
    text-align: center;
    border: 1px solid black;
}

ul {
    list-style-type: square;
    margin-top: 13px;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}

header {
    height: 30px;
    width: 100%;
    margin-bottom: 3px;
    padding: auto;
    background-color: #65698E;
    box-sizing: border-box;
    max-width: 100%;
}

header h1 {
    margin: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
}

section {
    height: 324px;
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #D9D9D9;
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 200px;
}

img {
    height: 70px;
    width: 70px;
}

body {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}